extends layout

block content
  div(ui-view)

//- block css

block scripts
  script(src='lib/jquery/dist/jquery.min.js')
  script(src='lib/lodash/dist/lodash.min.js')
  script(src='lib/angular/angular.js')
  script(src='lib/angular-resource/angular-resource.min.js')
  script(src='lib/angular-aria/angular-aria.min.js')
  script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
  script(src='lib/angular-animate/angular-animate.min.js')
  script(src='lib/materialize/bin/materialize.js')

  script(src='js/app/js/app.js')
  script(src='js/app/js/home/controllers.js')
  script(src='js/app/js/home/directives.js')
  script(src='js/app/js/user/controllers.js')
  script(src='js/app/js/user/directives.js')
